<settings>

	<setting propertyKey="@Properties.DateColor"
		title="@Strings.DateColorTitle">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.ColorBlack</listEntry>
			<listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
			<listEntry value="0xADD6E6">@Strings.ColorLightBlue</listEntry>
			<listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
			<listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.BinaryClockColor"
		title="@Strings.BinaryClockColorTitle">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.ColorBlack</listEntry>
			<listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
			<listEntry value="0xADD6E6">@Strings.ColorLightBlue</listEntry>
			<listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
			<listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DecimalClockColor"
		title="@Strings.DecimalClockColorTitle">
		<settingConfig type="list">
			<listEntry value="0x000000">@Strings.ColorBlack</listEntry>
			<listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
			<listEntry value="0xADD6E6">@Strings.ColorLightBlue</listEntry>
			<listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
			<listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.ShouldDisplayDecimalTime"
		title="@Strings.ShouldDisplayDecimalTimeTitle">
		<settingConfig type="boolean" />
	</setting>

</settings>
